:host
{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.ise-title
{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #333;
}

.ise-title .ise-title-text
{
    flex: 1;
    min-width: 0;
    font-weight: bold;
    user-select: text;
}

.ise-title .remove-btn
{
    color: #FF0000;
    margin: 0 4px;
}

.ise-title .remove-btn,
.ise-title .close-btn
{
    cursor: pointer;
}

.ise-content
{
    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow-y: scroll;
    width: 100%;
    border: 0 none;
}